:local(.addFriendInput) {
  border-radius: 0;
  border-color: #ABAAAA;
  border-left: 0;
  border-right: 0;
}
:local(.btnAction), :local(.btnAction):active, :local(.btnAction):focus, :local(.btnAction):hover {
  color: #5C75B0;
}

button:focus {
  outline: 0 !important;
}

.error-message {
    display: none;
    padding: 3px 3px 3px 10px ;
}

.notValid >.error-message {
    display: block;
    background-color: white;
    color: red;
}
