:local(.addFriendInput) {
  border-radius: 0;
  border-color: #ABAAAA;
  border-left: 0;
  border-right: 0;
}
.error-message {
    display: none;
    padding: 3px 3px 3px 10px ;
}

.notValid >.error-message {
    display: block;
    background-color: white;
    color: red;
}
